---
import { githubLink } from "../data/links";


---

<footer class="py-4 px4 text-xs text-center slide-enter-content pb8">
	<p style="--enter-stage: 10 !important;">
		<a
			href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
			target="_blank"
			rel="external nofollow noopener noreferrer"
			class="underline">CC BY-NC-SA 4.0</a
		> 2023-PRESENT @ Joydip | <a href="/privacy " class="underline"
			>Privacy Policy</a
		>
	</p>
	<p style="--enter-stage: 11 !important;">
		Produdly created by <a
			href={githubLink}
			target="_blank"
			rel="external nofollow noopener noreferrer"
			class="underline">rjoydip</a
		> and Powered by <a
			href="https://astro.build"
			target="_blank"
			rel="external nofollow noopener noreferrer"
			class="underline">Astro</a
		>, <a
			href="https://unocss.dev/"
			target="_blank"
			rel="external nofollow noopener noreferrer"
			class="underline">UnoCSS</a
		>
	</p>
</footer>
