name: Deployment

on:
  workflow_call:
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true
      GITHUB_TOKEN:
        required: true

jobs:
  prod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - uses: actions/cache@v4
        name: Setup cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install deps
        run: bun install --no-frozen-lockfile

      - name: Install dependencies
        run: bun install --no-frozen-lockfile

      - name: Modify Astro Config
        run: |
          sed -i 's/output: "hybrid"/output: "static"/' astro.config.mjs
          sed -i 's/adapter: cloudflare()//' astro.config.mjs
          sed -i 's#import cloudflare from '@astrojs/cloudflare'##' astro.config.mjs

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          command: pages deploy ./dist --project-name=rjoydip.com
